.tabla-categorias {
    padding: 30px;
    position: relative;
  }
  
  .tabla-categorias h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tabla-categorias table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla-categorias .mat-header-cell {
    font-weight: bold;
    background-color: #f5f5f5;
    text-align: left;
  }
  
  .tabla-categorias .acciones-header {
    text-align: center;
  }
  
  .tabla-categorias .acciones-cell {
    text-align: center;
  }
  
  .tabla-categorias button {
    margin: 0 5px;
  }
  
  .tabla-categorias .fab-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  