<h2 mat-dialog-title class="dialog-title">
  {{ form.value.idempresa ? 'Editar' : 'Agregar' }} Empresa
</h2>

<form [formGroup]="form" class="dialog-form">
  <mat-form-field class="form-field">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="descripcion" required>
  </mat-form-field>

  <mat-form-field class="form-field" *ngIf="!form.value.idempresa">
    <mat-label>Matriz</mat-label>
    <mat-select formControlName="matriz_idmatriz" required>
      <mat-option *ngFor="let matriz of matrices" [value]="matriz.idmatriz">
        {{ matriz.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Ubicación</mat-label>
    <input matInput formControlName="ubicacion" required readonly>
  </mat-form-field>

  <div id="map" class="map-container"></div>

  <div class="dialog-buttons">
    <button mat-button class="button" (click)="guardar()">Guardar</button>
    <button mat-button class="button" (click)="cerrarDialogo()">Cancelar</button>
  </div>
</form>
