<h2 mat-dialog-title>{{ form.value.idempresa ? 'Editar' : 'Agregar' }} Empresa</h2>

<form [formGroup]="form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="descripcion">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Ubicación X</mat-label>
    <input matInput type="number" formControlName="ubicacion_x">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Ubicación Y</mat-label>
    <input matInput type="number" formControlName="ubicacion_y">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Usuario ID</mat-label>
    <input matInput type="number" formControlName="usuario_idusuario">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Matriz ID</mat-label>
    <input matInput type="number" formControlName="matriz_idmatriz">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Eliminado</mat-label>
    <input matInput type="number" formControlName="eliminado" [value]="0">
  </mat-form-field>

  <button mat-button color="primary" (click)="guardar()">Guardar</button>
