<h2 mat-dialog-title class="dialog-title">{{ form.value.idmatriz ? 'Editar' : 'Agregar' }} Matriz</h2>
<form [formGroup]="form" class="dialog-form">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" required>
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Ubicación</mat-label>
    <input matInput formControlName="ubicacion" required readonly>
  </mat-form-field>

  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono" required>
  </mat-form-field>

  <mat-form-field class="form-field" *ngIf="!form.value.idmatriz" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" required>
  </mat-form-field>

  <!-- Mapa de Leaflet -->
  <div id="map" class="map-container"></div>

  <div class="dialog-buttons">
    <button mat-button class="button" (click)="guardar()">Guardar</button>
    <button mat-button class="button" (click)="cerrarDialogo()">Cancelar</button>
  </div>
</form>
