<h2 mat-dialog-title class="dialog-title">
  {{ data.idcategoria ? 'Editar Categoría' : 'Nueva Categoría' }}
</h2>

<form [formGroup]="categoriaForm" class="dialog-form" (ngSubmit)="guardar()">
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre" />
    <mat-error *ngIf="categoriaForm.get('nombre')?.hasError('required')">
      Campo requerido
    </mat-error>
  </mat-form-field>

  <div class="dialog-buttons">
    <button mat-button class="button" (click)="guardar()" [disabled]="categoriaForm.invalid">
      {{ data.idcategoria ? 'Actualizar' : 'Crear' }}
    </button>
    <button mat-button class="button" (click)="cancelar()">Cancelar</button>
  </div>
</form>
