<h2 mat-dialog-title>{{ form.value.idmatriz ? 'Editar' : 'Agregar' }} Matriz</h2>

<form [formGroup]="form">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="nombre">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Teléfono</mat-label>
    <input matInput formControlName="telefono">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Correo Electrónico</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Ubicación X</mat-label>
    <input matInput type="number" formControlName="ubicacion_x">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Ubicación Y</mat-label>
    <input matInput type="number" formControlName="ubicacion_y">
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Eliminado</mat-label>
    <input matInput type="number" formControlName="eliminado" [value]="0">
  </mat-form-field>

  <button mat-button color="primary" (click)="guardar()">Guardar</button>
</form>
