.user-container {
    padding: 30px;
    position: relative;
  }
  
  .titulo-tabla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .mat-header-cell {
    font-weight: bold;
    background-color: #f5f5f5;
    text-align: left;
    padding: 10px;
  }
  
  .mat-cell, .mat-header-cell {
    padding: 10px;
    text-align: left;
  }
  
  .acciones-header {
    text-align: center;
  }
  
  .acciones-cell {
    text-align: center;
    white-space: nowrap;
  }
  
  .acciones-cell button {
    margin: 0 5px;
  }
  
  .fab-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #0DA697;
  }
  
  .fab-button mat-icon {
    font-size: 24px;
    color: white;
  }
  
  /* Contenedor para la tabla con scroll horizontal */
  .table-wrapper {
    width: 100%;    /* Asegura que el contenedor ocupe todo el ancho disponible */
    overflow-x: auto; /* Activa el desplazamiento horizontal si es necesario */
    -webkit-overflow-scrolling: touch;
  }
  
  @media (max-width: 600px) {
    /* En pantallas pequeñas, ajustamos el tamaño de la fuente y el padding */
    .mat-header-cell, .mat-cell {
      font-size: 12px;
      padding: 8px;
    }
  }
  