<div class="user-container">
  <h2 class="titulo-tabla">Usuarios</h2>

  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="idusuario">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.idusuario}} </td>
      </ng-container>

      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let element"> {{element.rol}} </td>
      </ng-container>     
      
      <ng-container matColumnDef="fechaCreacion">
        <th mat-header-cell *matHeaderCellDef> Fecha Creación </th>
        <td mat-cell *matCellDef="let element"> {{element.fechacreacion | date: 'dd/MM/yyyy':'es-ES'}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaActualizacion">
        <th mat-header-cell *matHeaderCellDef> Fecha Actualización </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaactualizacion | date: 'dd/MM/yyyy':'es-ES'}} </td>
      </ng-container>

      <ng-container matColumnDef="idcreador">
        <th mat-header-cell *matHeaderCellDef> ID Creador </th>
        <td mat-cell *matCellDef="let element"> {{ element.idcreador }} </td>
      </ng-container>

      <ng-container matColumnDef="idactualizacion">
        <th mat-header-cell *matHeaderCellDef> ID Actualización </th>
        <td mat-cell *matCellDef="let element"> {{ element.idactualizacion }} </td>
      </ng-container>      

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="acciones-header"> Acciones </th>
        <td mat-cell *matCellDef="let element" class="acciones-cell">
          <button mat-icon-button color="accent" (click)="abrirDialogo(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminarUsuario(element.idusuario)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <button mat-fab color="primary" class="fab-button" (click)="abrirDialogo()">
    <mat-icon>add</mat-icon>
  </button>
</div>
