/* Ajuste del contenedor del diálogo para usar el 100% disponible */
::ng-deep .mat-dialog-container {
  padding: 0;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Contenedor general del formulario */
.dialog-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 15px;
  max-height: calc(95vh - 64px); /* Altura total menos espacio del título */
  overflow-y: auto;
  box-sizing: border-box;
}

/* Título del formulario */
.dialog-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  font-weight: 700;
}

/* Estilo uniforme para los campos */
.form-field, mat-form-field {
  width: 100%;
}

/* Ajuste de botones para mantenerlos visibles y alineados */
.dialog-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.button {
  width: 35%;
  background-color: #0DA697;
  color: white !important;
  font-size: 14px;
  cursor: pointer;
}

.button:hover {
  background-color: #0fb9a8;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 480px) {
  .dialog-buttons {
    flex-direction: column;
    gap: 8px;
  }

  .button {
    width: 100%;
  }
}
