.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fa;
}

.login-container {
  display: flex;
  width: 800px;
  max-width: 95%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

/* Imagen lateral izquierda */
.login-image-side {
  flex: 1;
  background: #8DDCD5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image-side img {
  width: 80%;
  max-height: 80%;
  object-fit: contain;
}

/* Formulario */
.login-form-side {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 24px;
  color: #333;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-custom {
  width: 100%;
}

.login-button {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  background-color: #0DA697 !important;
  color: white;
}
