<div class="login-wrapper">
  <div class="login-container">
    <div class="login-image-side">
      <img src="icons/Raddar.png" alt="Login Illustration" />
    </div>
    <div class="login-form-side">
      <h2 class="login-title">Iniciar sesión</h2>
      <form [formGroup]="formLogin" class="login-form">
        <mat-form-field appearance="outline" class="input-custom">
          <mat-label>Correo</mat-label>
          <input matInput formControlName="correo" required>
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-custom">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="contraseña" type="password" required>
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="iniciarSesion()" class="login-button">
          Iniciar Sesión
        </button>
      </form>
    </div>
  </div>
</div>
