/* Contenedor principal */
.tarjeta-container {
    padding: 30px;
    position: relative;
  }
  
  /* Título de la tabla */
  .titulo-tabla {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilo general de la tabla */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  /* Estilo de las cabeceras */
  .mat-header-cell {
    font-weight: bold;
    background-color: #f5f5f5;
    text-align: left;
  }
  
  /* Estilo para la celda de las acciones */
  .acciones-header {
    text-align: center;
  }
  
  .acciones-cell {
    text-align: center;
  }
  
  /* Estilo para los botones de acción */
  button {
    margin: 0 5px;
  }
  
  /* Estilo para el botón flotante */
  .fab-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }
  
  /* Ajustes para las celdas de la tabla */
  .mat-cell {
    text-align: center;
    padding: 10px;
  }
  
  /* Cabecera y celdas de cada columna */
  .mat-header-cell, .mat-cell {
    text-align: center;
    padding: 10px;
  }
  
  /* Estilos específicos para las columnas */
  .mat-column-idtarjeta, .mat-column-metododepago_idmetododepago, .mat-column-numero,
  .mat-column-nombrecliente, .mat-column-fechaexpiracion {
    width: 15%;
  }
  
  /* Estilo para las filas de la tabla */
  .mat-header-row {
    background-color: #f1f1f1;
  }
  
  /* Espaciado de botones */
  button.mat-icon-button {
    margin-right: 5px;
  }
  