<div class="promocion-container">
  <h2 class="titulo-tabla">Promociones</h2>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="idpromocion">
      <th mat-header-cell *matHeaderCellDef> ID Promocion </th>
      <td mat-cell *matCellDef="let element"> {{element.idpromocion}} </td>
    </ng-container>
    
    <ng-container matColumnDef="empresa_idempresa">
      <th mat-header-cell *matHeaderCellDef> ID Empresa </th>
      <td mat-cell *matCellDef="let element"> {{element.empresa_idempresa}} </td>
    </ng-container>
    
    <ng-container matColumnDef="categoria_idcategoria">
      <th mat-header-cell *matHeaderCellDef> ID Categoría </th>
      <td mat-cell *matCellDef="let element"> {{element.categoria_idcategoria}} </td>
    </ng-container>
    
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let element"> {{element.precio | currency:'MXN'}} </td>
    </ng-container>
    

    <ng-container matColumnDef="vigenciainicio">
      <th mat-header-cell *matHeaderCellDef> Inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.vigenciainicio | date: 'dd/MM/yyyy':'es-ES' }} </td>
    </ng-container>

    <ng-container matColumnDef="vigenciafin">
      <th mat-header-cell *matHeaderCellDef> Fin </th>
      <td mat-cell *matCellDef="let element"> {{element.vigenciafin | date: 'dd/MM/yyyy':'es-ES'}} </td>
    </ng-container>

    <ng-container matColumnDef="tipo">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="acciones-header"> Acciones </th>
      <td mat-cell *matCellDef="let element" class="acciones-cell">
        <button mat-icon-button color="primary" (click)="abrirDialogo(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="eliminarPromocion(element.idpromocion)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-fab color="primary" class="fab-button" (click)="abrirDialogo()">
    <mat-icon>add</mat-icon>
  </button>
</div>
