<div class="movimiento-container">
  <h2 class="titulo-tabla">Movimientos</h2>

  <app-busqueda (textoCambio)="aplicarFiltro($event)"></app-busqueda>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="idmovimiento">
      <th mat-header-cell *matHeaderCellDef> ID Movimiento </th>
      <td mat-cell *matCellDef="let element"> {{element.idmovimiento}} </td>
    </ng-container>

    <ng-container matColumnDef="cliente_idcliente">
      <th mat-header-cell *matHeaderCellDef> ID Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.cliente_idcliente}} </td>
    </ng-container>

    <ng-container matColumnDef="metododepago_idmetododepago">
      <th mat-header-cell *matHeaderCellDef> ID Método de Pago </th>
      <td mat-cell *matCellDef="let element"> {{element.metododepago_idmetododepago}} </td>
    </ng-container>

    <ng-container matColumnDef="promocion_idpromocion">
      <th mat-header-cell *matHeaderCellDef> ID Promoción </th>
      <td mat-cell *matCellDef="let element"> {{element.promocion_idpromocion}} </td>
    </ng-container>

    <ng-container matColumnDef="fechamoviento">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fechamoviento | date: 'dd/MM/yyyy':'es-ES'}} </td>
    </ng-container>

    <ng-container matColumnDef="montototal">
      <th mat-header-cell *matHeaderCellDef> Monto Total </th>
      <td mat-cell *matCellDef="let element"> {{element.montototal}} </td>
    </ng-container>

    <ng-container matColumnDef="iva">
      <th mat-header-cell *matHeaderCellDef> IVA </th>
      <td mat-cell *matCellDef="let element"> {{element.iva}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="acciones-header"> Acciones </th>
      <td mat-cell *matCellDef="let element" class="acciones-cell">
        <button mat-icon-button color="warn" (click)="eliminarMovimiento(element.idmovimiento)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
